<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/BaseLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="login-form">
        <div>
            <input type="text" name="username" placeholder="아이디"/>
        </div>

        <div>
            <input type="password" name="password" placeholder="비밀번호"/>
        </div>

        <div>
            <input type="button" value="로그인" onclick="login()">
        </div>
    </form>

    <div>
        <a href="/view/customer/sign-up">고객 회원가입</a>
    </div>

    <div>
        <a href="/view/seller/sign-up">판매자 회원가입</a>
    </div>
</body>
<script>
    function login() {
        const form = document.getElementById("login-form");
        const username = form.getElementsByTagName("username")[0].value;
        const password = form.getElementsByTagName("password")[0].value;

        FETCH.post('/login', {
            username,
            password,
        }).then(response => {
            console.log(response);
        });
    }
</script>
</html>